<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup page</title>
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: sans-serif;
        background-image: linear-gradient(120deg, #ff6b6b, #5f27cd);
        min-height: 100vh;
      }
      .container {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #fff;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 20px #ee5253;
      }
      h1 {
        font-size: 30px;
        font-weight: 600;
      }
      .text {
        text-align: left;
        margin-left: 150px;
      }
      #u_name,
      #u_password,
      #u_email,
      #u_contact,
      #u_city {
        color: #222f3e;
        text-align: left;
        font-size: 20px;
        font-weight: 200;
        outline: none;
        border: none;
        background: none;
        border-bottom: 1px solid #341f97;
        width: 200px;
      }
      .btn {
        font-family: inherit;
        margin-top: 20px;
        border: none;
        color: #fff;
        background-image: linear-gradient(120deg, #ff6b6b, #5f27cd);
        width: 150px;
        padding: 10px;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
      }
      .btn a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
      }
      .btn:hover {
        box-shadow: 1px 1px 10px #341f97;
      }
      .btn1 {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <form action="/register" method="post" target="_blank">
      <div class="container">
        <h1>Signup Page</h1>

        <tr>
          <p class="text">Name:-</p>
          <td>
            <input type="text" name="name" id="u_name" />
          </td>
        </tr>
        <br />
        <tr>
          <p class="text">Email:-</p>
          <td>
            <input type="email" name="email" id="u_email" />
          </td>
        </tr>
        <br />
        <tr>
          <p class="text">City:-</p>
          <td>
            <input type="text" name="city" id="u_city" />
          </td>
        </tr>
        <br />
        <tr>
          <p class="text">Gender:-</p>
          <td>
            <input type="checkbox" name="gender" value="male" />Male
            <input type="checkbox" name="gender" value="female" />Female
          </td>
        </tr>
        <br />
        <tr>
          <p class="text">Hobby:-</p>
          <td>
            <input type="checkbox" name="hobby" value="Music" />Music
            <input type="checkbox" name="hobby" value="Singing" />Singing <br />
            <br />
            <input type="checkbox" name="hobby" value="Playing" />Playing
            <input type="checkbox" name="hobby" value="Dancing" />Dancing
          </td>
        </tr>
        <br />
        <tr>
          <p class="text">Contact no :-</p>
          <td>
            <input type="number" name="contact" id="u_contact" />
          </td>
        </tr>
        <br />
        <tr>
          <p class="text">password:-</p>
          <td>
            <input type="password" name="password" id="u_password" />
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <input type="submit" value="insert" name="save" class="btn btn1" />
          </td>
        </tr>
        <br />
      </div>
    </form>
  </body>
</html>
